<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Definition of the MainServlet servlet -->
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>org.example.MainServlet</servlet-class>
    </servlet>

    <!-- Servlet's mapping for different urls -->

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
